* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}


.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/animeh/icon/Background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    height: 12%;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
    animation: fade 1s ease-in ;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.colum {
    flex-basis: 50%;
}

h2 {
    font-size: 100px;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(19, 220, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    animation: fade 1s ease-in ;
    pointer-events: none;
    }


    @keyframes fade {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;

    background-position: center;
    background-size: cover;
    transition: transform 0.15s;
    animation: fade 1s ease-in ;
}

.card:hover {
    transform: translateY(-10px);
}

.card1 {
    background-position: top;
    background-image: url(/animeh/image/Keqing.jpg);
}

.card2 {
    background-image: url(/animeh/image/arturia.jpg);
}

.card3 {
    background-position: top;
    background-image: url(/animeh/image/Westia.jpeg);
}

.card4 {
    background-position: top;
    background-image: url(/animeh/image/Makima.jpg);
}

p {
    color: white;
    font-size: 11px;
    animation: fade 1s ease-in ;
}

.logo {
    width: 75px;
    animation: fade 1s ease-in ;
}

h5 {
    font-size: 14px;
    text-shadow: 0 0 5px  rgb(17, 112, 255);
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(19, 220, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
